<% moved_item_id ||= nil %>

<div id="nav-tree" class="nav-tree">
  <% nav_items.each do |item| %>
    <div class="nav-parent-card">
      <%= render "nav_item",
          nav_item: item,
          child: false,
          moved_item_id: moved_item_id %>

      <% if item.children.ordered.any? %>
        <div class="nav-children-container">
          <% item.children.ordered.each do |child_item| %>
            <%= render "nav_item",
                nav_item: child_item,
                child: true,
                moved_item_id: moved_item_id %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>